.advice-generator {
  display: grid;
  min-height: 100vh;
  background-color: #202733;
  
  &__container {
    place-self: center;   
    display: grid;
    justify-items: center;
    gap: 3rem;
    position: relative;
    width: min(100% - 2* 1.5rem, 40rem);
    padding: 3rem 3rem 5.5rem;
    background-color: #313A48;
    border-radius: 1rem;
  }
  
  &__text {
    display: grid;
    justify-items: center;
    gap: 1.5rem;
  }
  
  &__divider {
    width: 100%;
    
    & > * {
      width: 100%;
    }
  }
}